body {
        font-family: "Raleway", Sans-Serif;
        border-style: solid;
        border-color: black;
        border-width: 0px;
        padding: 0px;
        margin: 0px;
        background-color: #ffffff;
        color: #000000;
}

div {
        width: 100%;
}

ul {
        width: 100%;
        list-style-type: disc;
}

@media screen and (min-width: 801px) {
        div#content {
                width: 800px;
                margin: auto;
        }
}

@media screen and (max-width: 800px) {
        div#content {
                width: 100%;
        }
}

div#top {
        text-align: center;
        padding: 5px
}

h2 {
        padding-left: 5px;
}

.list {
        width: 600px;

}
